key: 'hugo-param'
patterns: [
  {
    match: '((\\w+)=["\'](([^["\']]+))["\'])'
    captures:
      1: { name: 'code.hugo.function.parameter' }
      2: { name: 'code.hugo.function.parameter.key' }
      3: { name: 'code.hugo.function.parameter.value' }
      4: { patterns: [
             { include: '#links' }
             { include: '#code' }
           ]
         }
  }
]
