key: 'hugo-function'
patterns: [
  {
    match: '({{(?:<|%|-)) *([/|\\w]*)(.+?)((?:>|%|-)}})'
    captures:
      1: { name: 'code.hugo.begin' }
      2: { name: 'code.hugo.function' }
      3: { patterns: [
             { include: '#hugo-param' }
             { include: '#links' }
             { include: '#code' }
           ]
         }
      4: { name: 'code.hugo.end' }
  }
]
