key: 'hugo-function'
patterns: [
  {
    match: '({{(?:<|%|-) *[/|\\w]*)(.+?)((?:>|%|-)}})'
    captures:
      1: { name: 'hugo.begin.code' }
      2: { patterns: [
             { include: '#hugo-param' }
             { include: '#links' }
             { include: '#code' }
           ]
         }
      3: { name: 'hugo.begin.code' }
  }
]
