key: 'hugo-param'
patterns: [
  {
    match: '(\\w+=["\'])(([^["\']]+))(["\'])'
    captures:
      1: { name: 'embedded.code.hugo.begin.parameter.key' }
      2: { name: 'embedded.code.hugo.begin.parameter.value' }
      3: { patterns: [
             { include: '#links' }
             { include: '#code' }
           ]
         }
      4: { name: 'embedded.code.hugo.end.parameter.key' }
  }
]
